body {
    background-color: #eff8e5;
    font-family: Tahoma;
}

.container {
    height: 100%;
    position: fixed;
    width: 100%;
    padding: 6%;
    /* align-items: center; */
    /* background-repeat: no-repeat;
    background-size: cover;
    position: static; */
}

.bg-img img {
    /* position: fixed; */
    width: 30%;
    display: inline-block;
    position: fixed;
    left: 34%;
}

.bio {
    position: relative;
    width: 200px;
    height: 49%;
    background-color:aliceblue;
    left: 15%;
    top: 18%;
    outline: solid;
    outline-width: thin;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 4px 5px 15px grey;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.bio-tab-container {
    position: relative;
    /* width: 200px; */
    /* max-width: 200px; */
    /* right: 10%; */
    width: 240px;
    top: -20px;
    right: 10%;
    background-color: #a1b985;
    box-shadow: 1px 1px black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.bio.port-tab {
    /* width: 200px; */
}

.nav-con {
    position: sticky;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 90%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;

}

nav img {
    display: inline;
    height: auto;
    width: 19%;
}

.tab-container {
    display: grid;
    position: relative;
    /* height: fit-content; */
    width:499.9px;
    left: -6.9px;
    /* max-width: 41.65%; */
    background-color: #a1b985;
    top: -6.9px;
    box-shadow: 1px 1px black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.port-tab {
    /* width: 40.5%; */
    /* height: auto; */
    padding: 4px;
    position: relative;
    border: 1px black;
    /* outline-style: solid;
    outline-color: black;
    outline-width: thin; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tab-text {
    color: white;
    font-size: 18px;
    position: relative;
    /* width: auto; */
    background-color: #1315ca;
    padding: 3px;
    margin: 1px;
    outline-width: thin;
    outline-color: black;
}

/* .test {
    position: absolute;
    top: 70%;
    border: 1px solid black;
    outline-style: solid;
    outline-color: black;
    outline-width: thin;
    width: 80px;
    height: auto;
    padding: 3px;
    
}

.color-test {
    background-color: white;
    width: auto;
    padding: 2px;
    align-self: auto;
} */

.portfolio {
    /* display: grid; */
    grid-template-rows: 0 200px;
    gap: 50px 100px;
    align-self: center;
    /* background-color: #d2a8cc; */
    background-image: url("pictures/port_green_hrt.jpg");
    background-size: 20%;
    background-repeat: repeat;
    position: relative;
    left: 50%;
    width: 488px;
    /* width: 100%; */
    bottom: 430px;
    height: 640px;
    padding: 6px;
    outline: black;
    outline-style: solid;
    outline-width: thin;
    overflow-y: scroll;
    border-radius: 16px;
    box-shadow: 4px 5px 15px grey;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.port-cont {
    position: relative;
    width: 100%;
    height: 100px;
}

.projects {
    position: static;
    /* display: flex; */
    top: 92%;
}

button {
    float: right;
    margin: 2px 1.5px 2px 1.5px;
    width: 20px;
    height: auto;
    background: #C0C0C0;
    border-width: 1px;
    padding: 1px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    font-family: Tahoma;
    outline-width: 3px;
}

#hrtb {
    padding-right: 20px;
}


.projects {
    height: 230px;
    width: 95%;
    position: static;
    /* display: relative; */
    display: grid;
}

.project img {
    outline: auto;
    outline-style: solid;
    outline-width: 2.4px;
    outline-color: #9ab282;
    width: 35%;
    height: auto;
}

.bio button {
    color: gray;
}


.bg-img img {
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
    position: fixed;
    /* width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto; */

}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}
